{% extends "tunga/email/content.html" %}
{% load i18n %}
{% block email_header %}
    Let us know about your experience on Tunga for your project.
{% endblock %}
{% block email_content %}
    <p>Hi {{ owner.first_name }},</p>

    <p>Please fill in our client survey to report on your satisfaction regarding
        Tunga project: {{ event.project.title }}.<br/>

        It is very important that we receive timely feedback to respond to
        any issues. We promise it'll only take a minute!<br/>

        Why? It helps us to monitor and improve the quality of our service 
        for you, and to take direct action where desirable<br/>
    </p>

    <style>
        .icons-container {
            display: inline-block;
            position: relative;
            height: 57.6px;
            width: 57.6px;
            margin: 3.2px;
        }

        .icons-container a img {
            height: 57.6px;
            width: 57.6px;
        }
    </style>

    <div>

        {% if project.category == 'dedicated' %}
            {% for participant in participants %}
                <h4>How would you rate the collaboration
                    with {{ participant.user }}
                    for {{ project }}?</h4>
                <div class="survey__icons">
                    <label>
                        <div class="icons-container">
                            <a target="_blank"
                               href="{{ rating_url }}?uuid={{ participant.user.id }}&value=5">
                                <img src="https://work.tunga.io/static/tunga/smileys/simley5.png"/>
                            </a>
                        </div>
                    </label>
                    <label>
                        <div class="icons-container">
                            <a target="_blank"
                               href="{{ rating_url }}?uuid={{ participant.user.id }}&value=4">
                                <img src="https://work.tunga.io/static/tunga/smileys/simley4.png"/>
                            </a>
                        </div>
                    </label>
                    <label>
                        <div class="icons-container">
                            <a target="_blank"
                               href="{{ rating_url }}?uuid={{ participant.user.id }}&value=3">
                                <img src="https://work.tunga.io/static/tunga/smileys/simley3.png"/>
                            </a>
                        </div>
                    </label>
                    <label>
                        <div class="icons-container">
                            <a target="_blank"
                               href="{{ rating_url }}?uuid={{ participant.user.id }}&value=2">
                                <img src="https://work.tunga.io/static/tunga/smileys/simley2.png"/>
                            </a>
                        </div>
                    </label>
                    <label>
                        <div class="icons-container">
                            <a target="_blank"
                               href="{{ rating_url }}?uuid={{ participant.user.id }}&value=1">
                                <img src="https://work.tunga.io/static/tunga/smileys/simley1.png"/>
                            </a>
                        </div>
                    </label>
                </div>
            {% endfor %}

        {% else %}
            <h4>How would you rate the collaboration
                with Tunga
                for {{ project }}?</h4>
            <div class="survey__icons">
                <label>
                    <div class="icons-container">
                        <a target="_blank"
                           href="{{ rating_url }}?pid={{ project.id }}&value=5">
                            <img src="https://work.tunga.io/static/tunga/smileys/simley5.png"/>
                        </a>
                    </div>
                </label>
                <label>
                    <div class="icons-container">
                        <a target="_blank"
                           href="{{ rating_url }}?pid={{ project.id }}&value=4">
                            <img src="https://work.tunga.io/static/tunga/smileys/simley4.png"/>
                        </a>
                    </div>
                </label>
                <label>
                    <div class="icons-container">
                        <a target="_blank"
                           href="{{ rating_url }}?pid={{ project.id }}&value=3">
                            <img src="https://work.tunga.io/static/tunga/smileys/simley3.png"/>
                        </a>
                    </div>
                </label>
                <label>
                    <div class="icons-container">
                        <a target="_blank"
                           href="{{ rating_url }}?pid={{ project.id }}&value=2">
                            <img src="https://work.tunga.io/static/tunga/smileys/simley2.png"/>
                        </a>
                    </div>
                </label>
                <label>
                    <div class="icons-container">
                        <a target="_blank"
                           href="{{ rating_url }}?pid={{ project.id }}&value=1">
                            <img src="https://work.tunga.io/static/tunga/smileys/simley1.png"/>
                        </a>
                    </div>
                </label>
            </div>
        {% endif %}


    </div>

    <p>
        Click the link below to complete the survey:<br/>
        <a href="{{ rating_url }}">{{ rating_url }}</a>
    </p>
{% endblock %}
