{% autoescape off %}
    <div class="header"
         style="background-image: url({% block email_header_bg %}https://tunga.io/static/tunga/img/email/new-email-header.jpg{% endblock %})">
        <div class="container">
            <img src="https://tunga.io/static/tunga/img/email/tunga_logo_new_3.png"
                 width="75px" height="75px" align="text-center">
            <br>
            {% block email_header %}
                Hello from Tunga
            {% endblock %}
        </div>
    </div>
    <div class="content">
        <div class="container email-body-content">
            {% block email_content %}{% endblock %}
        </div>
    </div>

    <div class="signature">
        <div class="container">
            {% block signature %}
                <p>Kind regards,</p>
                <p class="highlight">The Tunga team</p>
            {% endblock %}
        </div>
    </div>
{% endautoescape %}
