body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

.swagger-ui .topbar {
    background-color: #ee1f54 !important;
}

.swagger-ui .topbar .topbar-wrapper .link {
    display: none;
}

.swagger-ui .btn.authorize {
    display: none;
    color: #ee1f54;
    border-color: #ee1f54;
}

.swagger-ui .btn.authorize svg {
    fill: #ee1f54 !important;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    color: #ee1f54;
    background-color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    margin-left: 10px;
    border-radius: 3px;
}
